.cesocHero {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
